robotframework
requests
psycopg2-binary
openpyxl
xmltodict
python-dotenv
robotframework-requests
robotframework-databaselibrary
robotframework-seleniumlibrary
robotframework-excellib
robotframework-xmllibrary

